@import "src/assets/mixins";
.footer {
    width: 100%;
    background-color: #000000;
    color: white;
    .top__footer{
        background-color: rgb(60 64 72);
        padding: 1.5rem 0;
        .contenedor__top{
            width: var(--width-footer);
            margin: auto;
            @media screen and (max-width:1350px) {
                width: 90%;
            }
            // @media screen and (max-width:1320px) {
            //     width: 90%;
            // }
            span{
                width: var(--width-footer);
                margin: auto;
                font-size: 0.875rem;
                font-weight: 600;
            }
        }
    }
    .main__footer {
        @include flex(row, nowrap, space-around, flex-start);
        padding: 1.5rem 0;
        width: var(--width-footer);
        margin: auto;
        h3{
            font-size: 1.1em;
            font-weight: 600;
        }
        @media screen and (max-width: 900px) {
            flex-flow: row wrap;
        }
    }
    .aviso__footer{
        width: var(--width-footer);
        font-weight: 200;
        font-size: .8rem;
        padding: 0rem 0rem 1.5rem 0rem;
        text-align: center;
        margin: auto;
    }
    .footer__descargas {
        flex: 1;
        @media screen and (max-width: 575px) {
            flex-basis: 100%;   
            @include flex(row, nowrap, space-between, center);
        }
        .h3__descargas{
            @media screen and (max-width: 900px) {
                flex-basis: 100%;
            }
            margin-bottom: 1.5rem;
        }
        .boton__descargas{
            @media screen and (max-width: 900px) {
                flex-basis: 40%;
            }
            cursor: pointer;
            color: black;
            width: 45%;
            margin-bottom: 1rem;
        }
    }
    .footer__links {
        flex: 2;
        .footer__ul {
            display: flex;
            flex-flow: row wrap;
            .footer__li {
                flex-basis: 50%;
                font-weight: 600;
                font-size: 0.875rem;
                padding: 0.7rem 0;
            }
        }
    }
    .footer__redes {
        flex: 1;
        padding-left: 3rem;
        @media screen and (max-width: 900px) {
            padding-left: 0rem;
            flex-basis: 100%;   
            @include flex(column, nowrap, center, center);
            margin-top: 1rem;
            text-align: center;
        }
        .footer__icon {
            @include flex(row, nowrap, flex-start, center);
            margin-bottom: 1rem;
            .red__footer{
                font-size: 1.7em;
                &:first-of-type{
                    margin-right: 1rem;
                }
            }
        }
    }
    .main__footer, .aviso__footer{
        @media screen and (max-width:1350px) {
            width: 90%;
        }
        // @media screen and (max-width:1320px) {
        //     width: 80%;
        // }
    }
}
// Media Queries
