.contenido{
    margin: 3rem 0;
    .p__acerca{
        font-size: 0.91rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        line-height: 1.5rem;
        .a__acerca{
            border-bottom: 1px solid black;
            color: black;
        }
    }
}